<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Supplier</title>
</head>
<body>
<h1>Create Supplier</h1>
<p>
    <a href="/list-supplier">Back to Supplier List</a>
</p>
<th:block th:if="${success}">
    <p th:text="${success}"></p>
</th:block>
<form th:action="@{/save-supplier}" th:object="${suppliers}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{supplier_name}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{supplier_description}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{supplier_address}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create supplier"></td>
        </tr>
    </table>
</form>
</body>
</html>