<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Supplier</title>
</head>
<body>
<h1>Edit Supplier</h1>
<p>
    <a href="/list-supplier">Back to Supplier List</a>
</p>
<th:block th:if="${success}">
    <p th:text="${success}"></p>
</th:block>
<form th:action="@{/update-supplier}" th:object="${suppliers}" method="post">
    <input th:type="hidden" name="supplier_id" th:field="*{supplier_id}">
    <table>
        <tr>
            <td>Supplier Name:</td>
            <td><input type="text" th:field="*{supplier_name}"/></td>
        </tr>
        <tr>
            <td>Supplier Description:</td>
            <td><input type="text" th:field="*{supplier_description}"/></td>
        </tr>
        <tr>
            <td>Supplier Address:</td>
            <td><input type="text" th:field="*{supplier_address}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update supplier"></td>
        </tr>
    </table>
</form>
</body>
</html>